body { 
/* heading sizes */ 
--h1: 1.40rem; 
--h2: 1.40rem; 
--h3: 1.25rem; 
--h4: 1.05rem; 
--h5: 1.00rem; 
--h6: 1.00rem; 

/* colors */
--purple: #9585A1;
--blue: #8CA5B0;
--green: #80CEAB;
--yellow: #F0E2B5;
--orange: #D4A68B;
--yellow: #BD7E7F;
--pink: #ff82b2;

}

