  <a href="https://chaoticorganized.com/privacy">Privacy Policy</a> - <a href="https://chaoticorganized.com/Disclaimers">Disclaimers</a>
<style>
  #footer {
    position: fixed;
    background-color: var(--background-primary);
    color: var(--link-color);
    font-size: 24px;
    z-index: 999999;
    justify-content: center;
    gap: 10px;

  }
</style>
