  <a href="https://chaoticorganized.com/privacy">Privacy Policy</a> - <a href="https://chaoticorganized.com/Disclaimers">Disclaimers</a>
<style>
  #footer {
    position: fixed;
    background-color: black;
    color: var(--link-color);
    bottom: 1vmax;
    left: 1vmax;
    font-size: 36px;
    z-index: 999999;
    display: flex;
    flex-direction: row;
    justify-content: circle;
    gap: 10px;

  }
</style>