
  .theme-dark {
    color-scheme: dark;
    --highlight-mix-blend-mode: lighten;
    --mono-rgb-0: 0, 0, 0;
    --mono-rgb-100: 255, 255, 255;
    --color-red-rgb: 251, 70, 76;
    --color-red: #D9A8A7;
    --color-green-rgb: 12, 181, 79;
    --color-green: #A7D1AD;
    --color-orange: #D7C1A7;
    --color-yellow: #D1D5A7;
    --color-cyan: #A7C6CD;
    --color-blue: #D7C1A7;
    --color-purple: #A7B2CB;
    --color-pink: #BFA7C7;
    --color-base-00: #1e1e1e;
    --color-base-10: #242424;
    --color-base-20: #262626;
    --color-base-25: #2a2a2a;
    --color-base-30: #363636;
    --color-base-35: #3F3F3F;
    --color-base-40: #555;
    --color-base-50: #666;
    --color-base-60: #999;
    --color-base-70: #bababa;
    --color-base-100: #dadada;
  }