<div class="ml-embedded" data-form="g5EOyU"></div>

<style>
.sidebar {
    .toc-container {
        max-height: unset;

        @media (max-width: 1400px) {
            max-height: 320px;
        }
    }
    }   @media (max-width: 1400px) {
     
}
</style>